/* font imports */
@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Orelega+One&display=swap');

/* Colors */
/* #000000 - black*/
/* #8A8A83  - grey*/
/* #C6C58B - darker yellow*/
/* #EEF4C8 - pale yellow*/

/* basic stylings */
body {
  margin: 0;
  width: 100%;
font-family: 'Orelega One', cursive;
  font-size: 16px;
}

.hero {
min-height: 100vh;

background-image: url("./background.png");
background-size: cover;
background-repeat: no repeat;
background-position: center;
}

.header {
  display: flex;
  min-height: 10vh;
  width: 100%;
  justify-content: space-between;
}

.header-button {
  display: grid;
  place-items: center center;
  width: 400px;
  height: 100px;
  background: #C6C58B;
  margin: 2vw;
  border: solid 5px #8A8A83;
  font-size: 6.5vh;
}

.header-button-mute {
  display: grid;
  place-items: center center;
  width: 230px;
  height: 50px;
  background: #C6C58B;
  margin: 2vw;
  border: solid 5px #8A8A83;
  font-size: 6vh;
  justify-content: space-between;
}

.beginning-column {
  display: flex;
  flex-direction: column;
}
.text-column{
background: #C6C58B;
margin: 2vw;
width: 230px;
height: 50px;
border: solid 5px #8A8A83;
text-align: center;
}

.headers {
  justify-content:space-between;
  background: #C6C58B;
  min-height: 1vh;
  padding-bottom: 10px;
  text-align: center;
  padding-top: 2px;
  font-size:18px;
  width: 500px;
}

.paragraph-text {
  justify-content:space-between;
  background: #EEF4C8;
  min-height: 1vh;
  border: solid 5px #8A8A83;
  padding-bottom: 10px;
  text-align: left;
{

.important-survival-tips {
  display: grid;
  justify-content:space-between;
  background: #EEF4C8;
  min-height: 1vh;
  border: solid 5px #8A8A83;
  padding-bottom: 10px;
  text-align: left;
}

.img{
display: grid;
justify-content: flex-start;
border: solid 5px #8A8A83;
height: 200px;
width: 500px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  min-height: 40vh;
}

.tips {
  display: flex;
  flex-direction: column;
}

.backrooms-grids {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.farewell {
  display: flex;
  justify-content:space-between;
  background: #C6C58B;
  /*background wont work? */
  min-height: 1vh;
  padding-bottom: 10px;
  text-align: center;
  margin-bottom: auto;
}

.content {


}
